@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
    position: relative;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #002d5d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #002d5d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #002d5d;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5bb0e2;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #5bb0e2;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.page {
    height: 100vh;
}


#title {
    text-align:center;
    font-size:150px;
    letter-spacing:10px;
}

#slogan {
    text-align:center;
    font-size:30px;
}

#bottled-air {
    float:right;
    margin-right:100px;
    z-index:1;
}

#github-link {
    float:left;
    margin-top:100px;
    margin-left:300px;
    font-size:20px;
}

#contact-title {
    text-align:center;
    font-size:80px;
    margin-top:100px;
    margin-bottom:75px;
    color:#5bb0e2;
}

#contact {
    width:95%;
    margin-left:100px;
}


.contact-section {
    text-align:center;
}
.contact-section img {
    height:100px;
    margin-bottom:10px;
}
.contact-section h2 {
    margin-bottom:50px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card-body {
    padding: 10px;
}

.card-img-top {
    margin:auto;
    width: 100px;
}