.page-container {
    height:800px;
}

#title {
    text-align:center;
    font-size:150px;
    letter-spacing:10px;
}

#slogan {
    text-align:center;
    font-size:30px;
}

#bottled-air {
    float:right;
}

#github-link {
    float:left;
    margin-top:100px;
    margin-left:300px;
    font-size:20px;
}

#contact-title {
    text-align:center;
    font-size:80px;
    margin-top:100px;
    margin-bottom:75px;
}

.contact-section {
    text-align:center;
}
.contact-section img {
    height:100px;
    margin-bottom:10px;
}
.contact-section h2 {
    margin-bottom:50px;
}
.centerBlock {
    display:table;
    margin:auto;
}
